body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.ki-nav-phone-link {
  color: #ffffff8c;
  text-decoration: none;
  transition: all 0.3s;
}

.ki-nav-phone-link:hover {
  color: #ffffffbf;
}

.welcome {
  width: 100%;
  height: 70vh;
  background-image: url('../images/welcome.jpg');

  background-position: center;
  background-size: cover;

  text-align: center;
}

.welcome-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-title {
  font-size: 52px;
  color: #d1d1d1;
}

.about,
.materials,
.slider {
  background-color: #212529;
  color: #d1d1d1;
}

.advantages {
  background-image: url('../images/88981.jpg');
  color: #d1d1d1;
}

.advantages-overlay,
.individual-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.material-cards-wrapper {
  flex-wrap: wrap;
}

.material-card {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  overflow: hidden;
}

.material-card>img {
  width: 100%;
  height: 100%;
}

.individual {
  background-image: url('../images/78.jpg');
  color: #d1d1d1;
}

@media (min-width: 992px) {
  .ki-navbar {
    height: 100px;
  }
}



/* Позиционирование подменю сбоку */
.dropdown-submenu .dropdown-menu {
  position: absolute;
  top: 0;
  left: 100%;
  margin-top: -1px;
}

/* Стилизация состояний наведения и фокуса */
.dropdown-submenu:hover>.dropdown-menu,
.dropdown-submenu:focus>.dropdown-menu {
  display: block;
}