body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.ki-nav-phone-link {
  color: #ffffff8c;
  text-decoration: none;
  transition: all 0.3s;
}

.ki-nav-phone-link:hover {
  color: #ffffffbf;
}

.welcome {
  width: 100%;
  height: 70vh;
  background-image: url('../images/welcome.jpg');

  background-position: center;
  background-size: cover;

  text-align: center;
}

.welcome-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-title {
  font-size: 52px;
  color: #d1d1d1;
}

.about,
.materials,
.slider {
  background-color: #212529;
  color: #d1d1d1;
}

.advantages {
  background-image: url('../images/88981.jpg');
  color: #d1d1d1;
}

.advantages-overlay,
.individual-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.material-cards-wrapper {
  flex-wrap: wrap;
  gap: 3rem;
}

.material-card {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  overflow: hidden;
}

.material-card>img {
  width: 100%;
  height: 100%;
}

.individual {
  background-image: url('../images/78.jpg');
  color: #d1d1d1;
}

@media (min-width: 992px) {
  .ki-navbar {
    height: 150px;
  }
}

@media (max-width: 768px) {
  .material-cards-wrapper {
    gap: 1rem;
  }
}

@media (max-width: 570px) {
  .ki-advantages-card {
    flex-direction: column;
    align-items: center;
    padding: 12px;
    text-align: center;
  }

  .uk-margin-remove {
    display: none;
  }

  .material-card {
    width: 150px;
    height: 150px;
  }
}



/* Позиционирование подменю сбоку */
.dropdown-submenu .dropdown-menu {
  position: absolute;
  top: 0;
  left: 100%;
  margin-top: -1px;
}

/* Стилизация состояний наведения и фокуса */
.dropdown-submenu:hover>.dropdown-menu,
.dropdown-submenu:focus>.dropdown-menu {
  display: block;
}


/* Оформление категорий */
.subcategories-wrapper {
  flex: 1;
  flex-wrap: wrap;
  row-gap: 10px;
}


.subcategory-card {
  box-sizing: border-box;
  width: 49.5%;
  height: 400px;
  cursor: pointer;
  position: relative;
  /* background-position: center; */
}

.subcategory-img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.subcategory-name {
  text-align: center;
}

.ki-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.50));
  transition: all .3s;
  color: #fff;
}

.ki-overlay:hover {
  opacity: 0.7;
  box-shadow: 8px 8px 16px 0px rgba(8, 14, 19, 0.2);
  /* background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.60)); */
}

.ki-overlay:hover .subcategory-img {
  transform: scale(1.1);
}



/* Товары */
.ki-product-card-wrapper {
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.ki-product-card {
  width: 100%;
  max-width: 360px;
  padding: 10px;
  transition: all .3s;
}

.ki-product-card-link {
  text-decoration: none;
  color: var(--bs-body-color);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ki-product-card:hover {
  scale: 1.01;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.ki-card-image-wrapper {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ki-card-image {
  max-width: 100%;
  max-height: 100%;
}

.ki-card-description,
.ki-card-text {
  flex: 1;
}

.product-page {
  background-image: url('../images/88981.jpg');
  /* background-image: url('../images/78.jpg'); */
  color: #d1d1d1;
}

.product-page-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.product-image-wrapper {
  width: 40%;
  background: transparent;
  border: none;
}

.product-text-wrapper {
  width: 60%
}

@media (max-width: 765px) {
  .subcategory-card {
    height: 200px;
  }

  .product-page-overlay {
    flex-direction: column;
  }

  .product-image-wrapper,
  .product-text-wrapper {
    width: 100%;
  }
}

/* Услуги */

button.ki-special-image-wrapper {
  width: 25%;
  background: transparent;
  border: none
}

button.ki-special-image-wrapper:hover {
  transform: scale(1.01);
}


/* Контакты */
.page-contacts {
  padding: 0;
  background-image: url('../images/78.jpg');
  /* background-image: url('../images/78.jpg'); */
  color: #d1d1d1;
}

.contacts-list {
  list-style: none;
  font-size: 1.25em;
  line-height: 45px;
}

.contacts-list>li>a {
  margin-bottom: 10px;
  text-decoration: none;
  color: #d1d1d1;
  transition: color .3s;
}

.contacts-list>li>a:hover {
  color: #fff;
}


.ki-modal-carousel-item-image {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%
}


/* Footer */

.ki-footer-link:hover {
  color: #9b9d9e !important;
}